.head{
    width: 100%;
    height: 10%;
    background-color: rgb(32, 100, 32);
    color: white;
    /* display: inline-block; */
    /* padding: 4px; */
    display: flex;
    justify-content: space-between;
}
#book{
    color: greenyellow;
    text-decoration:underline;
    cursor: pointer;
}
.about{
    width: 50%;
    text-align: center;
  
}
.contact{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    /* margin-right: 20px; */
}
.vertical-line {
    border-left: 2px solid white;
    height: 3vh; 
  }
.logo-search-login{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.logo{
    display: flex;
    width: 50%;
}
#comName{
    font-family: cursive;
}
.logo span{
    margin-top: 20px;
    text-align: center;
}
.search-login{
    width: 50%;
    display: flex;
}
.search{
    /* position:relative; */
    /* border-radius: 5px; */
    width: 60%;
    height: 30px;
}
#input{
    border-radius: 5px;
    width: 60%;
    height: 30px;
    background-image: url('photos/search.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px 20px;
}
/* #sea{
    position: absolute;
    right: 2px;
    top: 4px;
    width: 15px;
    margin: 2px 2px 2px 0px;
} */
#login{
    width: 20%;
    /* border: 2px solid red; */
    text-align: center;
    position: relative;
}
/* #login-photo{
    position: absolute;
    top: 0%;
    left: 38%;
    right: 40%;
} */
#logo-text{
    position: absolute;
    top: 30%;
    left: 38%;
    right: 40%;
    font-size: 15px;
    /* position: relative; */
}
#noOfOrder{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -22px;
    right:-7px;
    background-color: green;
    color: white;
    text-align: center;
}
#cart{
    width: 20%;
    /* border: 2px solid red; */
    text-align: center;
    position: relative;
}
#cart-text{
    position: absolute;
    top: 30%;
    left: 38%;
    right: 40%;
    font-size: 15px;
}
.items{
   display: flex; 
   justify-content:space-evenly;
   list-style-type:  none;;
}
#order{
    background-color: rgb(32, 100, 32);
    width:8%;
    height: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
#heading{
    margin-left: 50px;
    font-size: 50px;
    font-family: 'Onest', sans-serif;
}
.footer{ 
    /* border: 2px solid red; */
    background-image: url('photos/girl.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-image: 100%;
}
.yellow{
  display: flex;
  width: 40%;
  /* border: 2px solid red; */
}
#yellowPic{
    height: 80px;
    margin: 30px 0px 50px 50px;
    color: grey;
    /* margin-bottom: 50px; */
}
.orange{
    display: flex;
    width: 40%;
    /* border: 2px solid red; */
}
#orangePic{
    height: 80px;
    /* margin-left: 50px;
    margin-bottom: 50px; */
    margin: 30px 0px 50px 50px;
}
.blue{
    display: flex;
    width: 40%;
    /* border: 2px solid red; */
}
#bluePic{
    height: 80px;
    /* margin-left: 50px;
    margin-bottom: 50px; */
    margin: 30px 0px 50px 50px;
}
.content{
    margin-left: 30px;
    color: grey;
    font-family: 'Onest', sans-serif;
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
}
#getStartedNow{
    margin: 30px 0px 50px 50px;
    /* border: 2px solid red; */
    color: white;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(32, 100, 32);
    box-shadow: 5px 5px 10px black ;
    cursor: pointer;
}
@media only screen and (max-width: 517px )
{ 
    .contact{
        /* width: 45%; */
        display: block;
        /* justify-content: space-between; */
        margin-right: 0%;
        /* margin-right: 20px; */
    } 
    .vertical-line {
        border-left: 0px solid white;
        height: 0vh; 
      }  
      .items{
        display: block; 
        /* justify-content:space-evenly;
        list-style-type:  none;; */
     }
     .logo-search-login{
        display: block;
        /* justify-content: space-between;
        margin: 30px; */
     }
     #mail{
        font-size: small;
     }
     #or{
        font-size: smaller;
        margin: 3px;
     }
     #get{
        font-size: smaller;
        margin-left: 4px;
     }

     .content{
        color: black;
     }
     /* #logo-text{
        position:relative;
     } */
     #login{
        display: flex;
        justify-content: space-between;
        width: 50%;
     }
     #cart{
        display: flex;
        justify-content: space-between;
        width: 50%;
     }
     #noOfOrder{
        display: none;
     }
     .footer{ 
        /* border: 2px solid red; */
        background-image: url('photos/girlPhone.jpg');
     } 
     .logo-search-login{
        width: 100%;
        /* justify-content: space-between; */
     }
     #input{
        background-image: none;
     }
     .logo{
        display: flex;
        width: 20%;
        margin-bottom: 20px;
    }

}

